<!doctype html>
<html>

    <head>
        <title>KBase SDK</title>
        <link href="https://unpkg.com/ace-css/css/ace.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="shortcut_icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <style>
          * { font-family: 'Open Sans', Helvetica, sans-serif; }
        </style>
    </head>


    <body>
        <img src='{{ url_for('static', filename='img/logo.png') }}' class='fixed top-0 right-0 m3'></img>

        <div class='container p2 max-width-3'>
            {% block body %}{% endblock %}
        </div>
    </body>


</html>
